* {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  /* border: 6px rgba(201, 204, 24, 0.812) dotted; */
  background-color: rgb(133, 133, 133);
  background: linear-gradient(270deg, #694c4c, #000000);
  color: rgb(207, 225, 241);
  margin-bottom: 10px;
}
.navigation {
  background: linear-gradient(90deg, #505740, #00000035);
  border: 2px black solid;

  display: flex;
  width: 100%;
  height: 55px;
  flex-wrap: wrap;

  position: fixed;
  top: 0;
}
.nav {
  width: auto;
  height: 20px;
  padding: 0 0;
  flex-grow: 1;
  justify-content: space-around;
  text-align: center;
}
/* #search {
  width: 120px;
  position: fixed;
  right: 2%;
  height: 7px;
  top: 0.3%;
} */
#search {
  /* flex-basis: 8%; */
  /* justify-content: flex-end; */

  width: auto;
  height: 7px;
  text-align: left;
  margin-bottom: 5px;
}
#current:link {
  color: #04aa6d;
}
a {
  margin: 15px;
  padding: 10px;
}
a:link,
a:visited {
  color: black;
  font-size: 20px;
  text-decoration: none;
}
a:hover,
a:active {
  color: rgb(255, 231, 202);
  font-weight: bold;
  /* background-color: rgb(89, 1, 40); */
  /* padding: 5px; */
  border-radius: 8px;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

/* .navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #505740, #00000035);
  display: block;
  border: 2px black solid;
  width: auto;
  padding: 10px 5px;
} */

/* Headings */
h1 {
  border: 10px;
  margin: auto;
  padding: 25px 0px 25px 0px;
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
}

/*main*/
main {
  text-align: center;
}
main em {
  color: aquamarine;
  font-size: 40px;
}

/* about_me */
p {
  line-height: 1.5;
}
article {
  margin: 15px;
  padding: 15px;
  padding-top: 0px;
}
.intro {
  text-align: justify;
}

li {
  list-style: none;
}

/* photos */
.picinfo {
  text-align: center;
}
.pic {
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  width: 50%;
  height: auto;
}
.pic:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: 0.3s ease-in-out;
}
/* .container-img {
  border: 2px solid whitesmoke;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  height: 500px;
} */
/* .container-img {
  position: relative;
} */
.cont-1,
.cont-2 {
  /* border: 2px solid white; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ci img {
  height: 200px;
  width: auto;
}
.img1 {
  align-self: flex-start;
}
.img2 {
  align-self: flex-start;
}
.img3 {
  align-self: flex-start;
}
.img4 {
  align-self: flex-end;
  order: 1;
}
.img5 {
  align-self: flex-end;
}
.img6 {
  align-self: flex-end;
  order: 1;
}
/* .container-img .foot a {
  padding: 0;
  margin: 0;
  font-weight: bolder;
  text-align: center;
  background-color: whitesmoke;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: sticky;

  right: 20%;
  bottom: 5%;
  padding: 5px 5px;
} */

/* contact me */
#contact_me {
  padding-bottom: 20px;
  border-top: 3px solid cyan;
  border-radius: 30px;
  border-bottom: 3px solid cyan;
  background-color: rgba(240, 255, 255, 0.258);
}
.contact-container {
  border-radius: 5px;
  border-bottom: 5px;
  padding: 20px;
}
label:hover {
  cursor: pointer;
}
input[type="text"],
select,
textarea {
  width: 95%;
  padding: 15px;
  border: 1px solid rgb(244, 9, 9);
  border-radius: 8px;

  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: #2861e8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #04aa6d;
}
.contact {
  position: relative;
}
.map {
  border-radius: 6px;
  width: auto;
  margin-left: 18px;
}
.contact-info {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 100px;
  right: auto;
}
.icon {
  width: 18px;
  height: auto;
}
.contact-info li {
  position: absolute;
  left: 30px;
  width: 240px;
}
.foot a {
  padding: 0;
  margin: 0;
  font-weight: bolder;
  text-align: center;
  background-color: whitesmoke;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  right: 2%;
  bottom: 5%;
  padding: 5px 5px;
}
.foot a:link,
.foot a:visited {
  color: rgb(24, 24, 24);
  font-size: 20px;
}
.foot a:hover,
.foot a:active {
  color: #ffffff;
  background-color: black;
}
/* .foot a {
  background-color: rgba(255, 255, 255, 0.807);
  font-weight: bolder;
  display: inline;
  position: absolute;
  right: 2%;
  bottom: 5%;
  border-left: 10px;
  border-right: 80px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
} */

#photos,
#contact_me,
#about_me,
main {
  margin: 70px 20px;
}

/* media queiries */
@media screen and (max-width: 651px) and (min-width: 499px) {
  .navigation {
    height: 100px;
    width: 100%;
  }
  #photos,
  #contact_me,
  #about_me,
  main {
    margin: 110px 20px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  .navigation {
    flex-direction: column;
    /* align-items: center; */
    height: 250px;
    width: 100%;
    border-bottom: auto;
    align-items: center;
  }
  .nav {
    width: 100%;
    padding: 0 0;
    text-align: center;
  }
  #search {
    width: 50%;
  }
  #photos,
  #contact_me,
  #about_me,
  main {
    margin: 260px 20px;
    margin-bottom: 50px;
  }
} ;
